.no-auth-record {
  display: block;
  margin: 240px auto 40px;
  width: 400px;
  height: 300px;
}

.no-auth-record-tips {
  font-size: 30px;
  text-align: center;
  color: $secondary-font-color;
}

.auth-list {
  margin-top: 20px;
  padding: 0 40px;
  background-color: #fff;

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    border-bottom: 1px solid $border-color;

    .auth-method {
      margin-bottom: 22px;
      font-size: 32px;
      color: $primary-font-color;
    }

    .auth-info {
      margin-bottom: 16px;
      font-size: 28px;
      color: #999;

      &:last-child {
        margin-bottom: 0;
      }

      .emphasize {
        color: #ff3b30;
      }
    }

    .item-btn {
      padding: 0 24px;
      height: 64px;
      border-radius: 8px;
      text-align: center;
      color: #fff;
      background-color: $primary-color;
      line-height: 64px;
    }

    .auth-result {
      display: flex;
      align-items: center;

      .auth-status {
        margin-right: 16px;
        font-size: 30px;

        &.success {
          color: $primary-color;
        }

        &.fail {
          color: #ff3d3d;
        }

        &.expire {
          color: #999;
        }
      }
    }
  }
}

.flex {
  display: flex;
}
