/* stylelint-disable-next-line selector-type-no-unknown */
page {
  background-color: #fff;
}

.auth-result {
  margin: 80px 0;
  text-align: center;

  .result-image {
    margin-bottom: 18px;
    width: 120px;
    height: 120px;
  }

  .description {
    font-size: 40px;
    font-weight: bold;
    color: $primary-font-color;
  }
}

.step {
  margin-bottom: 40px;
  text-align: center;

  &::before {
    display: inline-block;
    margin-right: 16px;
    width: 36px;
    height: 36px;
    background-size: contain;
    content: "";
    vertical-align: middle;
    background-image: url("https://s2.loli.net/2022/06/01/lXRhVtQTnGCf9Mq.png");
  }

  &.failed::before {
    background-image: url("https://s2.loli.net/2022/06/01/7nsJ8BPvbpg46cI.png");
  }

  &.successful::before {
    background-image: url("https://s2.loli.net/2022/06/01/VawqsbHc6RhBAmT.png");
  }
}

.btn-warp {
  margin: 0 50px;
  margin-top: 100px;
}
