.container {
  margin-top: 20px;

  .title {
    margin-top: 88px;
    font-size: 28px;
    text-align: center;
    color: #666;
  }

  .mail-box {
    margin: 32px 0 40px;
    font-size: 36px;
    text-align: center;
    color: #333;
  }
}

.btn-warp {
  margin: 70px 32px;
}
