/* stylelint-disable-next-line selector-type-no-unknown */
page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: $primary-font-color;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
